* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*:focus {
  outline: 4px dotted red;
  outline-offset: 5px;
  border-radius: 3px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #fafafa;
  height: 5000px;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-bg {
  box-shadow: 0px 2px 4px gray;
  margin-bottom: 50px;
}

.logo {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
  color: black;
}

.headerr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 48px;
}

.header-btn {
  background-color: transparent;
  border: 0;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hero-search {
  width: 100%;
  max-width: 480px;
  box-shadow: 0px 2px 4px gray;
}

.search-icon {
  position: absolute;
  top: 40%;
  left: 30px;
  padding-left: 32px;
}

.search {
  padding-left: 80px;
  border: 0;
  padding-bottom: 18px;
  padding-top: 18px;
  width: 100%;
  max-width: 480px;
  display: inline-block;
}

.hero-select {
  width: 100%;
  max-width: 200px;
  padding-bottom: 18px;
  padding-top: 20px;
  padding-left: 24px;
  border: 0;
  box-shadow: 0px 2px 4px gray;
  color: #111517;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word
}

.sticky {
  position: sticky;
  top: 0;
  box-shadow: 10px 5px 5px #a79e9e;
  
}
/* Dark Mode */
.dark-mode {
  background-color: #202c36;
  color: white;
}

.search-bg {
  background-color: #2B3844;
  color: white;
}
.header-color {
  background-color: #2B3844;
  color: white;
}
