* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.container{
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.header-bg{
  box-shadow: 0px 2px 4px gray;
  margin-bottom: 50px;
}
body{
  background-color: #fafafa;
}
.header{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-btn{
  background-color: transparent;
  border:0;
  align-items: center;
}
.hero{
  display: flex;
  justify-content:space-between;
position: relative;
}
.hero-search{

  width: 100%;
  max-width: 480px;
  background-color: #fff;
 
  box-shadow: 0px 2px 4px gray;
}
.search-icon{
  position: absolute;
  top: 40%;
  left: 30px;
  padding-left: 32px;
}
.search{
  padding-left: 80px;
  border: 0;
  padding-bottom: 18px;
  padding-top: 18px;
  width: 100%;
  max-width: 480px;
  display: inline-block;
}
.hero-select{
  width: 100%;
  max-width: 200px;
  padding-bottom: 18px;
  padding-top: 20px;
  padding-left: 24px;
  border: 0;
  box-shadow: 0px 2px 4px gray;
  color: #111517;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 20px;
  word-wrap: break-word
}
select.hero-select option:not(:last-child) {
  margin-bottom: 50px;
}
































 

