* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*:focus {
  outline: 4px dotted red;
  outline-offset: 5px;
  border-radius: 3px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #fafafa;
  height: 5000px;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-bg {
  box-shadow: 0px 2px 4px gray;
  margin-bottom: 50px;
}

.logo {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
  color: black;
  text-decoration: none;
}

.logoo {
  text-decoration: none;
}

.headerr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 48px;
}

.header-btn {
  background-color: transparent;
  border: 0;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}

.hero-search {
  width: 100%;
  max-width: 480px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.05);
}

.search-icon {
  position: absolute;
  top: 35%;
  left: 10px;
  padding-left: 32px;
  border-radius: 8px;
}

.search {
  padding-left: 80px;
  border: 0;
  padding-bottom: 18px;
  padding-top: 18px;
  width: 100%;
  max-width: 480px;
  display: inline-block;
  
}

.hero-select {
  width: 100%;
  max-width: 200px;
  padding-bottom: 18px;
  padding-top: 20px;
  padding-left: 24px;
  border: 0;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  
}
.option{
  color: #111517;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 50px;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 72px;
}

.still {
  color: #111517;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 800;
  line-height: 26px;
}

.none {
  width: 100%;
  list-style: none;
  /* background-color: #fff; */
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  width: 230px;
}
.top{
  width: 30px;
  color: #111517;
  background-color: transparent;
  border: 0;
  position: fixed;
  right: 110px;
  bottom: 20px;
}


/* Dark Mode */
.dark-mode {
  background-color: #202c36;
  color: white;
}

.search-bg {
  background-color: #2B3844;
  color: white;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}
.card-bg {
  background-color: #2B3844;
  color: white;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}
.oq{
  color: #fff;
}


@media only screen and (max-width: 1250px) {
  .list {
      grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1110px) {
 
  /* .dark-mode {
      display: none;
  } */
  .hamburger {
      display: block;
  }
  .qidiruv {
      margin-bottom: 50px;
  }
}
@media only screen and (max-width: 880px) {
  .list {
      grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 700px) {
 
}
@media only screen and (max-width: 550px) {
  .list {
      grid-template-columns: 1fr;
      max-width: 250px;
  }
  .list {
      width: 100%;
      display: flex;
      flex-direction: column;
  }
}
@media only screen and (max-width: 460px) {
  .common-state {
      font-size: 25px;
      font-weight: 700;
  }
.list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.top{
  width: 20px;
  font-weight: 700;
}
}